<nav class="navbar navbar-default" ng-controller="NavCtrl">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">NIRAWA</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
      <li class="dropdown" ng-hide="token()">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" ui-sref="update">Mon Compte</a></li>
          <li><a href="#" ui-sref="page">page</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-show="token()" ui-sref="login">Login <span class="glyphicon glyphicon-log-in"/></a></li>
      <li href="#" class="active" ng-hide="token()" ng-click="logout()"><a>Logout <span class="glyphicon glyphicon-log-out"> </span></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
