<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form" ng-controller="UpdateCtrl">
			<h2>Changer Votre compte.   --Admin--</h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
                        <input type="text" ng-model="firstname" class="form-control input-lg" placeholder="First Name" tabindex="1">
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<input type="text" ng-model="lastname" class="form-control input-lg" placeholder="Last Name" tabindex="2">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="text" ng-model="email" class="form-control input-lg" placeholder="Email or Phone" tabindex="4">
			</div>
      <div class="form-group">
				<input type="password" ng-model="password" class="form-control input-lg" placeholder="Password" tabindex="4">
			</div>
      <label class="text-danger">{{message}}</label>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="submit" ng-click="update()" value="Update" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
				<div class="col-xs-6 col-md-6"><a ng-click="reset()" class="btn btn-success btn-block btn-lg">Reset</a></div>
			</div>
		</form>
	 </div>
  </div>
