   <div ng-include="'sidebar.html'"></div>
    <div class="row">
 <div class="col-md-6 col-md-push-4 col-sm-4 col-sm-push-4">

<h3 style="font-family:'kidS Written Regular';font-weight:normal;font-size:42px">Hikaya encourage vos enfants a <span id="wss"></span></h3>
<script>wss_elem = document.getElementById("wss"); wssSlide(); </script>
<div class="col-md-12 col-xs-12 col-md-12">
<center><img src="../images/nirawa.png"></center>
<br/>
<center> <a ui-sref="stories" ng-hide="token()" class="button pink serif round glass">acces aux Histoires</a>
		 </center>
</div> 