   <div ng-include="'sidebar.html'"></div>
    <div class="row">
 <div class="col-md-6 col-md-push-4 col-sm-4 col-sm-push-4">
 <div ng-controller="lightbox">

  jdkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf dkfhdkjhfkjdhskjfkdsjhfksdhkjf fhdkjsf 
<a href='../cat.jpg' rel='lightbox' title='Caption- cute cat!'>mon deuxieme mot</a>
<p  data-toggle="modal" data-target="#myModal">Open Modal</p>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

 