<!doctype html>
<html ng-app="animateApp">
<head>

<style>
#wss{
	opacity:0;
	-webkit-transition:opacity 1.0s linear 0s;
	transition:opacity 1.0s linear 0s;
}
</style>


<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="../js/text-anim.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
   <link href="../css/simple-sidebar.css" rel="stylesheet">
      <link href="../css/responsive-youtube.css" rel="stylesheet">
	<!-->
    <link rel="stylesheet" type="text/css" href="../css/buttons.css"/>

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  <script src="https://code.angularjs.org/1.2.13/angular.js"></script>
  <script type="text/javascript" src="../angular/nirawa/routes.js"></script>
  <script type="text/javascript" src="../angular/nirawa/controllers.js"></script>
  <script type="text/javascript" src="../angular/nirawa/services.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../angular/nirawa/app.js"></script>
  
  </head>
<body background="../images/background.jpg">
  <header ng-include="'nav.html'"></header>

    <div ui-view></div>
  </div>
  </div>
  </div>
</body>
</html>
