<div class="container">
<div class="row"></div>

<div class="row " ng-controller="mainController">

  <div class="col col-lg-6 col-md-6 col-sm-6 ol-xs-12">
  <br/> <br/> <br/>
  <div class="video-container xs-hidden">
  
<iframe width="420" height="315" src="https://www.youtube.com/embed/J629f2eyX8I" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
<div class="col col-lg-5 col-md-6 col-sm-6 ol-xs-12 col-lg-push-1">
<br/><br/><br/>
<div class="panel panel-success"  >
<div class="panel-heading">
  <a class="panel-title" ng-click="signin=1">Authentification /  </a>
  <a class="panel-title" ng-click="signin=2">inscription </a>
</div>
<div class="panel-body">
  <form class="form-horizontal"  ng-show="signin==1" ng-controller="HomeCtrl">
<fieldset>

  <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" ng-model="user.email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">Password
    </label>
    <div class="col-lg-10">
      <input type="Password" class="form-control" ng-model="user.password" placeholder="Password">
    </div>
  </div>
  <label class="text-danger"> {{user.message}}</label>
  <div class="form-group">
     <div class="col-lg-8 col-lg-push-3">
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-sm-12 col-xs-12 col-lg-offset-2 col-sm-offset-2 ">
      <button class="btn btn-success " ng-click="login()"> Se connecter</button>
       <a class="btn  btn-social btn-facebook" ng-click="FBLogin()" >
    <i class="fa fa-facebook"></i>Connexion Facebook</a>
    </div>
  </div>


  </div>
 </div>
</fieldset>
</form>
<form class="form-horizontal" ng-show="signin==2" ng-controller="CreateCtrl">
<fieldset>

  <div class="form-group">
    <label for="inputEmail" class="col-lg-3 control-label">Email</label>
    <div class="col-lg-8">
      <input type="email" class="form-control" ng-model="user.email" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-lg-3 control-label">Password
    </label>
    <div class="col-lg-8">
      <input type="Password" class="form-control" ng-model="user.password" placeholder="Password">
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail" class="col-lg-3 control-label">Confirm Password
    </label>
    <div class="col-lg-8">
      <input type="Password" class="form-control" ng-model="user.passwordConfirmation" placeholder="Password">
    </div>
  </div>
  <label class="text-danger">    {{user.message}}</label>
  <div class="form-group">


     <div class="col-lg-8 col-lg-push-3">

  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-info" ng-click="create()">S'inscrire</button>
    </div>
  </div>
  </div>
 </div>
</fieldset>
</form>
</div>

</div>
</div>
