<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                 
                    </a>
                </li>
				<li>
           <a href="#" class="button pink serif round glass">Accueil</a>
		 
                </li>
                <li>
           <a ui-sref="update" ng-hide="NFB()" class="button pink serif round glass" >Modifier mon compte</a>
		 
                </li>
				<li>
            <a ui-sref="stories" ng-hide="token()" class="button pink serif round glass">Mes Histoires</a>
		 
                </li>
                <li>
            <a ui-sref="stories" ng-hide="token()" class="button pink serif round glass">Liste des Histoires</a>
		 
                </li>
                <li>
             <a href="#" class="button pink serif round glass">Acheter une histoire</a>
		 
                </li>
				<br/><br/>
				<li><center><img src="../images/nirawa.png" /></center></li>
                <li>
         
            </ul>
        </div>
<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">