  <div ng-include="'sidebar.html'"></div>

 <div class="row">
 <div class="col-md-6 col-md-push-4 col-sm-4 col-sm-push-4">
 <div  style="float:right" ng-controller="StoryController"  >
<div class="col-md-4" ng-repeat="art in article | filter:search" ng-if="$index%3===0">
 <table  border="0" style="width:100%" align="center" >
 <tr>
 <td >   <img ng-src="{{art.article_image}}" width=100px  height=100px  ui-sref="AfficherPartie({id:'{{art._id}}'})"> <p>
       {{art.article_name}} <p>
       {{art.article_summary}} <p>
 </td>
   <a id="fmp-button" href="#" rel="87ed5e86c10bbad780fa1f8e58baddad"><img src="https://assets.fortumo.com/fmp/fortumopay_150x50_red.png" width="150" height="50" alt="Mobile Payments by Fortumo" border="0" /></a>

   </tr>
   
</table>
</div>

<div class="col-md-4 col-xs-12 col-sm-6" ng-repeat="art in article | filter:search" ng-if="$index%3===1">
 <table  border="0" style="width:100%" align="center" >
 <tr>
 <td >   <img ng-src="{{art.article_image}}" width=100px  height=100px ui-sref="AfficherPartie({id:'{{art._id}}'})"> <p>
       {{art.article_name}} <p>
       {{art.article_summary}} <p>
 </td>
 <a id="fmp-button"  rel="87ed5e86c10bbad780fa1f8e58baddad"><img src="https://assets.fortumo.com/fmp/fortumopay_150x50_red.png" width="150" height="50" alt="Mobile Payments by Fortumo" border="0" /></a>

   </tr>
</table>
</div>

<div class="col-md-4 col-xs-12 col-sm-6" ng-repeat="art in article | filter:search" ng-if="$index%3===2">
  <table  border="0" style="width:100%" align="center" >
 <tr>
 <td >   <img ng-src="{{art.article_image}}" width=100px  height=100px ui-sref="AfficherPartie({id:'{{art._id}}'})">  <p>
       {{art.article_name}} <p>
       {{art.article_summary}} <p>
 </td>
 <a id="fmp-button" rel="87ed5e86c10bbad780fa1f8e58baddad"><img src="https://assets.fortumo.com/fmp/fortumopay_150x50_red.png" width="150" height="50" alt="Mobile Payments by Fortumo" border="0" /></a>

   </tr>
</table>
</div>
</div>
</div>
</div>
